<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libra.cloud.poetry.mapper.RecommendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.libra.cloud.poetry.entity.Recommend">
        <id column="id" property="id"/>
        <result column="poetry_id" property="poetryId"/>
        <result column="time" property="time"/>
        <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, poetry_id, time, type
    </sql>

    <resultMap id="PoetryResultMap" type="com.libra.cloud.poetry.entity.Poetry">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="author" property="author"/>
        <result column="dynasty" property="dynasty"/>
        <result column="tag" property="tag"/>
        <result column="like_num" property="likeNum"/>
    </resultMap>

    <sql id="Poetry_Column_List">
        id, title, content, author, dynasty, tag, like_num
    </sql>

    <!-- 根据时间获取推荐诗文 -->
    <select id="selectRecommendByDate" resultMap="PoetryResultMap">
        select
        <include refid="Poetry_Column_List"/>
        from poe_poetry p where p.id in (
        select r.poetry_id from poe_recommend r where r.type=0 and TO_DAYS(r.time)=TO_DAYS(NOW())
        )
    </select>
</mapper>
